# HTTPS_PORTAL
WEB_DOMAIN=
#production , staging , local
HTTPS_PORTAL_STAGE=production
#false , true
HTTPS_PORTAL_FORCE_RENEW=true

# WordPress VERSION
DOCKER_IMAGE_WORDPRESS_VERSION=5.4.1
DOCKER_IMAGE_WORDPRESS_PHP_VERSION=7.4
